<body class="body-container">
<div class="mat-elevation-10">
  <div id="informacion">
  <div class="example-container2">
      <div class="example-container3">

      <table mat-table [dataSource]="dataSource" matSort perfectScrollbar >

        <ng-container matColumnDef="fecha">
          <th  mat-header-cell *matHeaderCellDef  mat-sort-header > Fecha</th>
          <td  mat-cell *matCellDef="let element" [ngClass]="{'color': (element.id  % 2 == 0), 'color2' : (element.id  % 2 != 0)}">  {{element.fecha| date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container  matColumnDef="asunto">
          <th   mat-header-cell *matHeaderCellDef  mat-sort-header > Asunto</th>
          <td  mat-cell *matCellDef="let element" [ngClass]="{'color': (element.id  % 2 == 0), 'color2' : (element.id  % 2 != 0)}">  {{element.asunto}} </td>
        </ng-container>

        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef> Acción </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'color': (element.id  % 2 == 0), 'color2' : (element.id  % 2 != 0)}">
              <button mat-button color="primary" (click)="visualizaInfo('#informacion',element)">
                  <mat-icon style="color:red;">drafts</mat-icon>
              </button>
        </td>
      </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>


    </table>
    <mat-paginator [pageSizeOptions]="[ 5,10,20,50, 100]" [length]="totalElements" aria-label="Select page of documentos" ></mat-paginator>
  </div>

  </div>
  </div>
  <div id="informacion2">
    <div class="example-container">
      <div class="example-container2">
         <div class="example-container4">
           <button mat-button color="primary" (click)="visualizaInfo('#informacion2','')">
            <mat-icon style="color:red;">keyboard_return</mat-icon>
          </button>
          <span class="example-spacer"></span>
          <span class="example-spacer"></span>
          <span class="example-spacer"></span>
          <span class="example-spacer"></span>
           <mat-label>fecha:     </mat-label>
            <mat-label >{{fecha| date:'dd/MM/yyyy'}}</mat-label>
        </div>
      </div>
        <p>
       <p>
        <div class="example-container4">
          <mat-label>Asunto:</mat-label>
        <div class="example-asunto">
        <p>
         <mat-label>{{asunto}}</mat-label>
        <p>
        </div>
          <p>
            <mat-label>mensaje:</mat-label>
          <p>
        <div class="example-mensaje">
          <mat-label>{{mensaje}}</mat-label>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
